.img {
  height: 600px;
  width: 400px;
  display: block;
  object-fit: cover;
}
.btn {
  background-color: black;

  position: absolute;
  right: 0.1px;
  top: 0.1px;
  padding: 0;
  border-radius: 0;
  border-bottom-left-radius: 8px;
}
.wrapper {
  background-color: black;
  overflow: hidden;
  text-align: center;
}
.desc {
  width: 400px;
}
.icon {
  fill: white;
}
.btn:hover {
  background: transparent;
}
.btn:hover .icon {
  fill: black;
}
